body {
    font-family: monospace;
    font-size: 11px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    width: 80%;
    height: 100%;
}

h2 {
    text-align: right;
}

button {
    font-family: monospace;
    font-size: 11px;
    width: auto;
    height: auto;
}

.gui-zone {
    display: grid;
    grid-template-columns: 70% 30%;
    background-color: #000;
    color: #0f0;
    padding: 5px;
    border: 2px solid #0f0;
    overflow-y: auto;
}

.left-gui-zone {
    display: grid;
    grid-template-rows: auto auto;
}

.gui-info {
    display: inline-block;
    box-sizing: border-box;
}

.field-gui {
    display: inline-block;
    text-align: center;
    vertical-align: middle; 
    line-height: normal;
    white-space: pre-wrap;
}

.right-gui-zone {
    border: 2px solid #0f0;
    display: grid;
    grid-template-rows: 20% 80%;
}

.p-title {
    text-align: center;
}

.play-zone {
    display: grid;
    grid-template-columns: 35% 65%;
}

table {
    border-collapse: separate;
    border-spacing: 10px 1px;
}

.left-play-zone {
    border: 2px solid rgb(0, 0, 0);
    padding: 20px;
    padding-top: 30px;
    margin: 10px;
}

.right-play-zone {
    border: 2px solid rgb(0, 0, 0);
    padding: 20px;
    padding-top: 0px;
    margin: 10px;
}

.market-demand-table td:nth-child(2), .market-demand-table th:nth-child(2){
    text-align: right;
}







.navigation {
    margin-bottom: 20px;
}

button {
    padding: 10px;
    font-size: 16px;
}

#currentIndex {
    font-size: 20px;
    margin: 0 10px;
}

.display {
    font-size: 24px;
}
