body {
    font-family: monospace;
    font-size: 11px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    width: 98%;
    height: 100%;
}

h2 {
    text-align: right;
}

th {
    text-align: left;
}

button {
    font-family: monospace;
    font-size: 11px;
    width: auto;
    height: auto;
    cursor: pointer;
}

.gui-zone {
    display: grid;
    grid-template-columns: 70% 30%;
    background-color: #000;
    color: #0f0;
    padding: 5px;
    border: 2px solid #0f0;
    overflow-y: auto;
}

.left-gui-zone {
    display: grid;
    grid-template-rows: auto auto;
}

.gui-info {
    display: inline-block;
    box-sizing: border-box;
}

.field-gui {
    display: inline-block;
    text-align: center;
    vertical-align: middle; 
    line-height: normal;
    white-space: pre-wrap;
    font-size: 20px;
    line-height: 0.55;
}

.fields-list-table {
    display: inline-block;
    white-space: pre-line;
    line-height: 0.7;
}

.fields-list-table td:nth-child(2) {
    text-align: left;
}

.right-gui-zone {
    display: grid;
    border: 2px solid #0f0;
    grid-template-rows: 20% 80%;
}

.p-title {
    text-align: center;
}

.play-zone {
    display: grid;
    grid-template-columns: 50% 50%;
}

.left-play-zone {
    display: grid;
    border: 1px solid black;
    justify-content: center;
    align-items: center;
    margin: 2px;
    padding: 2px;
}

.right-play-zone {
    display: grid;
    border: 1px solid black;
    justify-content: center;
    align-items: center;
    margin: 2px;
    padding: 2px;
}

table td:nth-child(2) {
    text-align: right;
}

.warehouse {
    display: grid;
    border: 1px solid black;
    justify-content: center;
    align-items: center;
    margin: 2px;
    padding: 2px;
}

.top {
    vertical-align: top;
}

table.seeds-table {
    border: 1px solid black;
}

table.products-table {
    border: 1px solid black;
}

table.harvest-table {
    border: 1px solid black;
}

table.market-demand-table {
    border: 1px solid black;
}

.store {
    display: grid;
    border: 1px solid black;
    justify-content: center;
    align-items: center;
    margin: 2px;
    padding: 2px;
}

table.fields-table {
    border: 1px solid black;
}







.navigation {
    margin-bottom: 20px;
}

#currentIndex {
    font-size: 20px;
    margin: 0 10px;
}

.display {
    font-size: 24px;
}
